<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="home">
      <div class="my-auto">
        <h1 class="mb-0">Alex<br>
          <span class="text-primary">Di Vito</span>
        </h1>
        <div class="subheading mb-5">· 303-7415 Shaw Ave <br>· Chilliwack, BC V2R3C1 <br>· (604) 791-3900 <br>·
          <a style="text-transform: lowercase;" href="mailto:the-one-and-only@alexdivito.ca">the-one-and-only@alexdivito.ca</a>
        </div>
        <p class="mb-5 lead" style='font-weight: bold; color: #000; font-style: italic;'>
            Located in British Columbia's Fraer Valley, I am a web developer and technology fanatic with several years of professional experience 
            creating interactive web applications and business tools using an array of different technologies and system design methodologies.
        </p>
        <ul class="list-inline list-social-icons mb-0">
          <li class="list-inline-item">
            <a target=_blank href="https://stackoverflow.com/users/3989221/superveetz">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a target=_blank href="https://www.linkedin.com/in/alex-di-vito-433334121">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a target=_blank href="https://github.com/superveetz">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </section>
</div>